[profile.default]
src = "src"
out = "out"
libs = ["lib"]

[rpc_endpoints]
core_testnet2 = "https://rpc.test2.btcs.network"

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
